params {
    genome              = 'https://raw.githubusercontent.com/GallVp/EDTA/f3760da7c755be6750bb12485652064b9fbb4885/tests/Col.test.fa'
    line_detection_tool = 'none' // Not recommended! Applied here only to run the test faster.
}

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}
