params {
    genome                      = 'https://raw.githubusercontent.com/GallVp/EDTA/8c35223666f9cf70fb3aa3eb7edbd455711891fc/tests/genomes.list.txt'
    anno                        = true
    line_detection_tool         = 'rm2'
    create_pan_te_lib           = true
}

process {
    resourceLimits = [
        cpus: 10,
        memory: '32.GB',
        time: '1.h'
    ]
}
